body{
    background-color: #f4f7f6;
    margin-top:20px;
}

.input-group-text{
    padding-top: 43%;
    padding-bottom: 43%;
    margin-top: 12%;
    
}
.message other-message{
    word-break: break-word
}
.seperate{
    padding-bottom: 60px;
    border-bottom: 2px solid #f4f7f6
}
.chat-app{
    min-height: 800px !important;
}
.btn-outline-primary {
    color: #677f97;
    border-color: #677f97;
}

.btn-outline-primary:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-outline-secondary{
    color: #677f97;
    border-color: #677f97;
}

.btn-outline-info {
    color: #677f97;
    border-color: #677f97;
}
.btn:focus{
    display: none ;
}
.error{
    color: red;
}
h4{
    text-align: center;
}

.btn-outline-info:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-outline{
    padding-left: 20%;
    padding-right: 20%;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    z-index: 7;
}

.heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
  }
  @media only screen  and (max-width: 1400px){
      .heading{
        padding: 0px 16px 10px 15px;
      }
  }


  .heading-avatar {
    padding: 0;
    cursor: pointer;
    
  }
  .heading-avatar-icon img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }

.avatar{
    border-radius: 50%;
    height: 45px;
    width: 45px; 
   
}
ul li{
    list-style-type: none;
   }
  .heading {
    height: 70px;
    background-color: white;
  }
  .heading-avatar {
    padding: 0 !important;
  }
.new-conv{
    margin-left: 400%;
}

.chat-app .chat {
    margin-left: 25%;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
 
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}


.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img .avatar {
    float: left;
    border-radius: 40px;
    width: 40px;

}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}


.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
    text-align: center;
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
    
}
.clearfix{
    list-style-type: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height:7%;
}

.card{
    min-height:500px;
}

  .child {
    display: inline-block;
    padding:1%;

  }

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 300px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
        
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto;
    }
    .myn{
        font-size: x-small;
        width: 400%;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 600px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
    .myn{
        font-size: x-small;
        width: 400%;
    }

}
@media only screen and (min-width: 993px) {
    .myn{
        font-size: small;
        width: 400%;
    }

}



@media only screen and (min-device-width: 768px)  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)  {
    .chat-app .chat-list {
        height: calc(90vh - 300px);
        overflow-x: auto;
        min-height: 80px;
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }


}